.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
toy.py
tox.ini
violations.pyflakes.txt
cover/
build/
dist/
chinaapi.egg-info/
*.pyc
*.swp
*.egg
tests_local/
extends/
packages/
local/